<h1><%= @specialty.name() %></h1>

<% if @specialty.doctors().any?() %>
  <h3>Here are all the doctors in this specialty:</h3>

  <ul>
    <% @specialty.doctors().each() do |doctor| %>
    <li><a href="/specialties/doctor/<%=doctor.id()%>"><%= doctor.name() %></a> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no doctor on this specialty!</p>
  <% end %>

  <div class="container">
    <a href="/"><button class="btn">Home</a>
  </div>


  <h3>Add a doctor to <%= @specialty.name() %> </h3>

  <form action="/doctors" method="post">
    <input id="specialty_id" name="specialty_id" type="hidden" value="<%= @specialty.id() %>">
    <input id="name" name="name" type="text">
    <button type="submit">Add Doctor</button>
  </form>
